body {
    background-image: url(./images/background.jpg);
}

.title {
  font-size: 40px;
  color: whitesmoke;
  text-align: center;
  margin: 8px 8px;
}

.header-1, .header-2, .header-3, .header-4 {

    color: white;
}

.recipe-1 {
   
}

.recipe-2 {

}
}

.recipe-3 {
  

}

.recipe-4 {

}

.recipe-1, .recipe-2, .recipe-3, .recipe-4 {

    font-size: 20px;
    text-align: center;
    border: 8px solid yellow;
    padding: 4px 4px;
    background-color: rgba(23, 166, 255, 0.768); 
    margin: 8px 8px;
    margin-bottom: 8px;
}